<div class="row">
    <div class="col-sm4 offset-md-4">
        <div class="card card-body">
            <form (submit)="submitRequest()">
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="request.user" class="form-control"
                    placeholder="Username" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="request.drone_id" class="form-control" 
                    placeholder="Drone ID" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="request.armazem" class="form-control" 
                    placeholder="Depot" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="request.status" class="form-control" 
                    placeholder="Status" autofocus>
                </div>
                <button class="btn btn-primary btn-block">Save</button>
            </form>
        </div>
    </div>

