<div class="row">
    <div class="col-sm4 offset-md-4">
        <div class="card card-body">
            <form (submit)="submitUser()">
                <div class="form-group">
                    <input type="text" name="username" [(ngModel)]="user.username" class="form-control"
                    placeholder="Username" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="email" [(ngModel)]="user.email" class="form-control" 
                    placeholder="Email" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="coordenada" [(ngModel)]="user.coordenada" class="form-control" 
                    placeholder="GPS" autofocus>
                </div>
                <button class="btn btn-primary btn-block">Save</button>
            </form>
        </div>
    </div>
</div>